@import '@styles/variables';

.clients {

    &__inner {
        position: relative;
    }

    &__heading {
        max-width: 360px;
    }

    &__content {
        margin-top: 185px;
        display: flex;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__text {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        max-width: 600px;
        margin: auto 0;
    }

}

@media (max-width: 1400px) {

    // .clients {
    //     overflow: hidden;
    // } test

    .clients__content {
        margin-top: 30px;
    }

    .clients__info {
        margin-right: 15px;
    }

    .clients__text {
        font-size: 25px;
        line-height: 30px;
    }
}

@media (max-width: 768px) {
    .clients__content {
        flex-direction: column;
    }

    .clients__info {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .clients__text {
        margin-bottom: 20px;
        padding-right: 60px;
    }

    .clients__img {
        max-width: 300px;
        margin: 0 auto;
    }

}