.line {
	display: none;

	@media (min-width: 1200px) {
		display: block;
		position: absolute;
		top: -132px;
		left: 285px;
		z-index: -1;
	}

	rect {
        opacity: 0;
        transition: opacity .4s .5s;
    }

    &.active {
        rect {
            opacity: 1;
        }
    }
}