.line_1 {
	display: none;

	@media (min-width: 1200px) {
		display: block;
		position: absolute;
		left: 285px;
		top: -160px;
		z-index: -1;
	}

	rect {
		opacity: 0;
		transition: opacity .4s 2s;
	}

	&.active {
		rect {
			opacity: 1;
		}
	}
}

.line_2 {
	display: none;

	@media (min-width: 1200px) {
		display: block;
		position: absolute;
		top: 100%;
		left: 285px;
	}

	rect {
		opacity: 0;
		transition: opacity .4s .4s;
	}

	&.active {
		rect {
			opacity: 1;
		}
	}
}