@import '@styles/variables';

.problems {

    &__inner {
        position: relative;
    }

    &__list {
        margin-top: 150px;
        padding-bottom: 50px;
    }

    &__item {
        margin-bottom: 150px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 991px) {
    .problems__item {
        margin-bottom: 100px;
    }

    .problems__list {
        margin-top: 100px;
    }
}