@import './variables';

.btn {
    display: inline-block;
    padding: 17px 20px;
    border: 1px solid $color-dark;
    border-radius: 10px;
    background-color: $color-dark;
    color: $color-white;
    cursor: pointer;
    transition: .4s;
    will-change: transform;

    svg {
        margin-left: 10px;

        path {
            transition: fill .4s;
        }
    }

    &:hover {
        transform: translateY(-5px);

        &:not(.btn--white) {
            background-color: $color-white;
            color: $color-dark;

            path {
                fill: $color-dark;
            }
        }
    }

    &--white {
        background-color: $color-white;
        color: $color-dark;

        &:hover {
            background-color: $color-dark;
            color: $color-white;
            box-shadow: 0 0 3px 1px $color-white;

            path {
                fill: $color-white;
            }
        }
    }

    &--center {
        text-align: center;
    }
}

.section-padding {
	padding: 130px 0 100px;

	&.decor-line-btn {
		padding: 0 0 30px;

		@media (min-width: 1402px) {
			padding: 130px 0 100px;
		}
	}

	&.about {
		position: relative;
	}

	&.wthtVideo {
		padding: 130px 0 150px;
	}

	&.solutionfeatures {
		padding: 50px 0 110px;
	}
}

.parent {
	position: relative;
}

.heading {

    &__suptitle {
        font-size: 24px;
		line-height: 28px;
		margin: 0 0 20px;
    }

    &__title {
        font-weight: 600;
        font-size: 72px;
        line-height: 1;

        &.decor-line {
			display: inline-block;
            position: relative;
			padding: 0 0 30px;
			
			@media (min-width: 768px) {
				padding: 0 0 50px;
			}

            &::after {
                content: '';
                width: 45%;
                height: 2px;
                background-color: $color-grey;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }

    &__subtitle {
        font-size: 24px;
        line-height: 29px;
        margin-top: 25px;
    }
}

.reveal-animated {
    will-change: transform;
}

@media (max-width: 991px) {
    .section-padding {
        padding: 70px 0;
    }

    .heading__title {
        font-size: 55px;
    }
}

@media (max-width: 768px) {
    .heading__title {
        font-size: 36px;
        line-height: 35px;
    }
    .heading__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 576px) {
    .btn {
        padding: 15px;
    }
}