@import '@styles/variables';

.line_1 {
    position: absolute;
    top: -130px;
    left: 59px;
    z-index: -1;

    rect {
        opacity: 0;
        transition: opacity .4s 1.5s;
    }

    &.active {
        rect {
            opacity: 1;
        }
    }
}

.line_2 {
    position: absolute;
    top: 166px;
    right: 228px;
    z-index: -1;
}

.line_3 {
    position: absolute;
    right: 228px;
    z-index: -1;

    rect {
        opacity: 0;
        transition: opacity .4s 3s;
    }

    &.active {
        rect {
            opacity: 1;
        }
    }
}

.line_1 {
    position: absolute;
    top: -130px;
    left: 59px;
    z-index: -1;

    rect {
        opacity: 0;
        transition: opacity .4s 1.5s;
    }

    &.active {
        rect {
            opacity: 1;
        }
    }
}

.line_md_2 {
    display: none;
    position: absolute;
    top: 166px;
    left: 59px;
    z-index: -1;

}

.line_md_3 {
    display: none;
    position: absolute;
    left: 206px;
    bottom: -70px;
    z-index: -1;

    rect {
        opacity: 0;
        transition: opacity .4s 1.5s;
    }

    &.active {
        rect {
            opacity: 1;
        }
    }
}

.line_sm_2 {
    display: none;
    position: absolute;
    right: 10px;
    top: 45px;
    z-index: -1;

    rect:last-child {
        opacity: 0;
        transition: opacity .4s 2s;
    }

    &.active {
        rect:last-child {
            opacity: 1;
        }
    }
}

@media (max-width: 1400px) {

    .line_2,
    .line_3 {
        display: none;
    }

    .line_md_2,
    .line_md_3 {
        display: inline-block;
    }
}

@media (max-width: 991px) {
    .line_1 {
        top: -110px;
    }

    .line_md_2 {
        top: 120px;
    }
}

@media (max-width: 768px) {
    .line_md_2 {
        display: none;
    }

    .line_sm_2 {
        display: inline-block;
    }
    .line_md_3 {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 576px) {
    .line_1 {
        left: 44px;
    }
}