.line_1 {
	display: none;
	

	@media (min-width: 1200px) {
		display: block;
		position: absolute;
		top: -400px;
		left: 250px;
	}

	@media (min-width: 1378px) {
		top: -400px;
		left: 350px;
	}

	path:last-child {
        opacity: 0;
        transition: opacity .3s 1.4s;
    }

    &.active {
        path:last-child {
            opacity: 1;
        }
    }
}

.line_2 {
	display: none;
	

	@media (min-width: 1200px) {
		display: block;
		position: absolute;
		top: 177px;
		left: 250px;
	}

	@media (min-width: 1378px) {
		top: 104px;
		left: 350px;
	}

	rect {
        opacity: 0;
        transition: opacity .3s .5s;
    }

    &.active {
        rect {
            opacity: 1;
        }
    }
}

.line_3 {
	display: none;

	@media (min-width: 1214px) {
		display: block;
		position: absolute;	
		left: -80px;
		top: -48px;
		z-index: -1;
	}
}