@import '@styles/variables';

.sign {
    background-color: darken($color: $color-grey, $amount: 10%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__heading {
        color: $color-white;
        text-align: center;
    }

    &__form {
        display: flex;
        justify-content: center;
        margin-top: 50px;

    }

    &__btn {
        flex-shrink: 0;
        margin-left: 15px;
    }
}

@media (max-width: 576px) {

    .sign__btn {
        margin-left: 5px;
    }
}